[submodule "nxengine-evo"]
	path = nxengine-evo
	url = https://github.com/nxengine/nxengine-evo.git
[submodule "circle-libsdl2"]
	path = circle-libsdl2
	url = https://github.com/Xalior/circle-libsdl2.git
